<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>verify-email</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <h2>Verificar E-mail</h2>
      <p>
        Se ha enviado un mail de verificacion, por favor revise su mail.
      </p>
      <ion-button type="submit" (click)="authService.SendVerificationMail()" expand="block">
        Reenviar mail de verificacion
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>